<%= render 'layouts/errors', resource: @weight_movement %>
<div class="pmd-card pmd-z-depth pmd-card-custom-form">
  <div class="pmd-card-body">
    <%= simple_form_for [@diet, @weight_movement] do |f| %>
      <%= f.input :reference_date, as: :string, input_html: { class: 'form-control datepicker',
                                                              value: "#{ f.object.reference_date.strftime("%d/%m/%Y") if f.object.reference_date.present? }" },
                  wrapper_html: { class: 'pmd-textfield col-md-6' } %>
      <%= f.input :weight, input_html: { class: 'form-control' },
      wrapper_html: { class: 'pmd-textfield col-md-6' } %>

      <%= render 'layouts/common/buttons/back', link: diet_weight_movements_path(@diet) %>
      <%= render 'layouts/common/buttons/submit' %>
    <% end %>
  </div>
</div>
