<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/common/header', title: WeightMovement.model_name.human(count: 2), subtitle: '' %>
      <ul class="list-group pmd-z-depth pmd-card-list pmd-list-icon">
        <% if @weight_movements.each do |weight_movement| %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= weight_movement.weight %>
              </h3>
              <span class="list-group-item-text">
                <div>
                  Data: <%= weight_movement.reference_date.strftime("%d/%m/%Y") %>
                </div>
              </span>
            </div>

            <%= render 'layouts/common/icon_links/edit', link: edit_diet_weight_movement_path(@diet, weight_movement) %>
            <%= render 'layouts/common/icon_links/destroy', link: diet_weight_movement_path(@diet, weight_movement) %>
          </li>
        <% end.empty? %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= t('core.empty') %>
              </h3>
            </div>
          </li>
        <% end %>
      </ul>

      <div id="list-action-buttons">
        <%= render 'layouts/common/buttons/new', link: new_diet_weight_movement_path %>
        <%= render 'layouts/common/buttons/back',
                   link: diets_path %>
      </div>
    </div>
  </div>
</div>