<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/common/header', title: FoodOption.model_name.human(count: 2), subtitle: '' %>
      <ul class="list-group pmd-z-depth pmd-card-list pmd-list-icon">
        <% if @food_options.each do |food_option| %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= food_option.description %>
              </h3>
            </div>

            <%= render 'layouts/common/icon_links/edit', link: edit_settings_food_option_path(food_option) %>
            <%= render 'layouts/common/icon_links/destroy', link: settings_food_option_path(food_option) %>
          </li>
        <% end.empty? %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= t('core.empty') %>
              </h3>
            </div>
          </li>
        <% end %>
      </ul>

      <div id="list-action-buttons">
        <%= render 'layouts/common/buttons/new', link: new_settings_food_option_path %>
      </div>
    </div>
  </div>
</div>