<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/common/header', title: Diet.model_name.human(count: 2), subtitle: '' %>
      <div class="alert alert-warning" role="alert"> Deve-se cadastrar
        <%= link_to settings_food_options_path, class: 'pmd-ripple-effect alert-link' do %>
          <%= FoodOption.model_name.human(count: 2) %>
        <% end %>
        antes de cadastrar uma Dieta.
      </div>
      <ul class="list-group pmd-z-depth pmd-card-list pmd-list-icon">
        <% if @diets.each do |diet| %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= diet.description %>
              </h3>
            </div>
            <%= link_to diet_weight_movements_path(diet), class: "media-right media-middle" do %>
              <i class="material-icons pmd-sm">note_add</i>
            <% end %>
            <%= render 'layouts/common/icon_links/edit', link: edit_diet_path(diet) %>
            <%= render 'layouts/common/icon_links/destroy', link: diet_path(diet) %>
          </li>
        <% end.empty? %>
          <li class="list-group-item">
            <div class="media-body">
              <h3 class="list-group-item-heading">
                <%= t('core.empty') %>
              </h3>
            </div>
          </li>
        <% end %>
      </ul>

      <div id="list-action-buttons">
        <%= render 'layouts/common/buttons/new', link: new_diet_path %>
      </div>
    </div>
  </div>
</div>